body{
    margin : 0;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white ;
    min-height: 100vh; 
    /* 내가 보는 화면의 높이 만큼 */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task_area{
    border: 1px solid lightgrey;
}

.task_tabs{
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.task_tabs div{
    padding : 1em;
    cursor: pointer;
}

/* 자바스크립트에서 활용하기 위해 아이디로 줌 */
#under_line{
    height: 4px;
    background-color: lightpink;
    position: absolute;
    width : 80px;
    left : 0px;
    top: 52px;
    padding : 0px;  
    /* div에 기본패딩값이 있어서 0으로 지정해줌  */
}

.task{
    display: flex;
    justify-content: space-between;
    padding : 1em;
}

.task_done{
    text-decoration: line-through;
}